canvas {
	background-color: skyblue;
	display: block;
}

div {
	display: flex;
	background-color: skyblue;
	width: 600px;
	justify-content: space-around;
	font-family: 'Wendy One', sans-serif;
	font-size: larger;
	align-items: flex-end;
}


.highscore {
	background-color: white;
	margin: 0 0 0 65px;
}

#pause {
	display: inline-block;
	text-align: center;
	margin: 0 0 0 275px;
}


span {
	display: block;
}


.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.right
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
}

#rightList {
	list-style-type: none;
	padding: 0;
}


h5 {
	margin: 10px 0;
	font-family: 'Fredoka One', sans-serif;
}

ol {
	margin: 5px 0;
}


li {
	font-size: large;
	font-family: 'Fredoka One', sans-serif;
	font-weight: lighter;
}